body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.word {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.guesses {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.letter {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.letter:hover {
    background-color: #3e8e41;
}

.incorrect-guess {
    background-color: #ff0000;
}

.repo-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #337ab7;
    color: #fff;
    cursor: pointer;
}

.repo-button:hover {
    background-color: #23527c;
}
